i {
    font-size:25px;
    padding:5px;
    padding-top: 5px;
    margin:5px; 
}

div{
    padding-bottom: 2.5px;
}
label{
    display:block;
    width: 50%;
}

button{
    margin: 1px;
}
.icon{
    padding-bottom: 0px;
}
.icon:hover{
    background-color: rgb(162, 214, 236);
}

.icon:active  {
    background-color: rgb(162, 214, 236);
    color: white;
}
button,a{
    
    margin-bottom:2.5px;
    border:none;
    float:right;
}
a{
    margin:1px;
}
mat-menu{
    margin-left:1px;
}
#close{
    float: right;
}


#addTag{
    width:25px;
    height:100%;
}
#removeTag{
    width:25px;
    height:100%;
}
#save{
    float:right;
}
a:hover{
    text-decoration: none;
    color:black;
}
button:focus {outline:0;}

.menu{
    background-color: white;
    margin:0px;
}

  