<div (click)="openDialog(content)" class="icon">
    <span title="Exporter le dessin"><i class="fas fa-file-export"></i></span>
</div>


<ng-template #content let-modal id=modal>

    <h4>Exporter un dessin</h4>
    <div>
        <mat-form-field>
    <mat-label>Nom de fichier</mat-label>
    <input matInput type="text"  [(ngModel)] ="fileName"> 
    </mat-form-field>
    <button class="button" type="button" mat-raised-button [matMenuTriggerFor]="exportOptions" [disabled]="!drawingCreated">Exporter</button>
    <mat-menu #exportOptions="matMenu">
        <button mat-menu-item class="menu" (click)="export('bmp')">BMP</button>
        <button mat-menu-item class="menu" (click)="export('jpeg')">JPG</button>
        <button mat-menu-item class="menu" (click)="export('png')">PNG</button>
        <button mat-menu-item class="menu" (click)="export('svg')">SVG</button>
    </mat-menu>
    <button class="button" mat-raised-button (click)="cancel()" [mat-dialog-close]="true">Fermer</button>
    </div>

</ng-template>