#tailleInput{
    width:40px;
}
div{
    margin-top:8px;
}

.example-full-width {
    width: 40%;
}
button{
    width: 90%;
}

#grid{
    font-size: 80%;
}

mat-label{
    font-weight: bold;
}
p{
    color: red;
    font-style: italic;

}